@media (max-width: 1400px) {
    .container{
        max-width: 1170px;
    }
    .brands__subscribe-box-mobile{
        display: none;
    }
    .header__burger-menu svg:nth-child(1){
        opacity: 0;
    }
    .header__burger-menu svg:nth-child(2){
        opacity: 0;
    }
    .header__menu-mobile{
        display: none;
    }
    .brands__subscribe-boxmobile{
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .header__menu-mobile{
        display: none;
    }
    .features__box {

        grid-column-gap: 16px;
    }
    .header__burger-menu svg:nth-child(1){
        opacity: 0;
    }
    .header__burger-menu svg:nth-child(2){
        opacity: 0;
    }
    .brands__subscribe-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 33px 50px;
        background: #16697A;
        border-radius: 2px;
        position: absolute;
        width: 100%;
        bottom: -200px;
        margin: 0 20px 0 -15px;
    }
    .brands__subscribe-boxmobile{
        display: none;
    }


}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .header__burger-menu svg:nth-child(1){
        opacity: 0;
    }
    .header__burger-menu svg:nth-child(2){
        opacity: 0;
    }
    .header__menu-mobile{
        display: none;
    }
    .header__menu {
        position: unset;
        top: 116px;
        text-align: center;
        margin: auto;
    }

    .hero__content {
        width: 480px;
    }
    .hero {
        background-image: url(../images/cover.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 139px;
    }
    .hero__title {
        font-weight: 800;
        font-size: 55px;
        line-height: 77px;
    }
    .hero__desc {
        font-size: 19px;
        margin: 27px 0 35px;
    }
    .features {
        padding: 123px 0 5px;
    }
    .features__box__item {
        width: 160px;
        padding: 25px 0 25px;
    }
    .features__number {
        font-size: 35px;
        margin: 8px 0 24px;
    }
    .features__content {
        font-size: 15px;
    }
    .advice {
        padding: 100px 0;
    }
    .section__title {
        font-size: 38px;
    }
    .advice__box {
        grid-column-gap: 25px;
    }

    .advice__box__title {
        line-height: 22px;
        margin-left: 28px;
    }

    .about {
        padding: 90px 0 39px;
    }

    .about__content {
        grid-column-gap: 45px;
    }

    .about__content__img .button__svg {
        right: 0;
        left:0;
        margin: 0 auto;
        top:120px;
    }

    .section__title {
        font-size: 40px;
        line-height: 54px;
    }

    .about__content__right__desc {
        margin: 9px 0 24px;
    }

    .about__content__line {
        margin-bottom: 7px;
    }

    .about__content__line__title {
        line-height: 23px;
        font-size: 15px;
    }

    .about__content__line__desc {
        font-size: 13px;
        line-height: 22px;
    }
    .brands__line svg {
        width: 100px;
    }
    .brands__line {
        align-items: center;
    }
    .brands__subscribe-box__title {
        font-size: 20px;
        line-height: 30px;
        width: 252px;
    }
    .brands__subscribe-box form input {
        width: 266px;
        padding: 13px 0 13px 18px;
    }
    .brands__subscribe-box form .brands__btn {
        padding: 13px 20px;
    }

    .touch {
        padding: 70px 0 96px;
    }
    .consulting__heading {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .consulting__decs{
        font-size: 18px;
    }
    .contact__menu__link {
        font-size: 13px;
    }
    .footer__desc {
        font-size: 13px;
    }

}
@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .consulting__container{
        max-width: 276px;
        display: block;
        text-align: left;
    }
    .contact__container{
        max-width: 276px;
        text-align: left;
        display: block;
    }
    .mobile-menu{
        display: block;
    }
    .header-active {
        height: 532px;
    }
    .top-menu.show-menu{
        background: #FFFF;
        margin-top: 50px;
        display: flex;
    }
    .top-menu{
        display: none;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-align: center;
        margin: unset;
        width: 100%;
        z-index: -1;
        transition: .6s;
    }
    .header__burger-menu svg:nth-child(1){
        opacity: unset;
    }
    .header__burger-menu svg:nth-child(2){
        opacity: unset;
    }
    .header__burger-menu path{
        fill: #737373;
    }

    .header__menu-mobile {
        margin-top: 96px;
        margin: auto;
    }

    .header {
        position: relative;
        padding-bottom: 36px;
        z-index: 555;
    }
    .header__link {
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 30px;
        display: block;
    }

    .header__burger-menu {
        display: flex;
        align-items: center;
    }
    svg {
        margin-left: 33px;
    }
    .hero {
        text-align: center;
        padding-bottom: 205px;
    }
    .hero__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        width: 355px;
        margin: auto;
    }
    .hero__desc {
        width: 278px;
        margin: 40px -40px 40px 97px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        padding: 20px 0 20px;
    }
    .hero__btn {
        width: 206px;
        display: block;
        margin: auto;
    }
    .header__menu {
        display: none;
    }
    .hero__btn__transparent {
        margin-top: 25px;
        margin-right: unset;
        margin-bottom: 80px;
    }
    .hero__box {
        display: unset;
        margin-top: 80px;
        margin-bottom: unset;
    }
    .box__item {
        width: 350px;
        height: 210px;
        text-align: left;
        margin: auto;
        margin-bottom: 30px;
    }
    .box__item svg{
        margin: unset;
    }
    .features{
        margin: auto;
    }
    .features__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        width: 245px;
        margin: auto;
        margin-bottom: 10px;
    }
    .features__desc {
        margin-top: 10px;
        width: 202px;
        height: 80px;
        margin: auto;
        margin-bottom: 75px;
    }
    .features__box {
        display: unset;
    }
    .features__box__item {
        width: 230px;
        height: 233px;
        margin: auto;
        margin-bottom: 30px;
    }
    .features__img {
        width: unset;
        height: unset;
        margin: 0 auto;
        display: unset;
    }
    .features__img svg{
        margin: unset;
    }
    .advice {
        padding: 98px 0 106px;
    }
    .advice__title{
        width: 180px;
        height: 114px;
        margin: auto;
    }
    .advice__desc {
        margin: 10px 90px 75px;
        width: 278px;
        height: 80px;
    }
    .advice__box{
        display: unset;
    }
    .advice__box__item {
        padding-top: 30px;
        width: 230px;
        height: 341px;
        margin: auto;
    }
    .advice__box__item{
        margin-bottom: 30px;
    }
    .advice__box__title{font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        width: 130px;
        height: 48px;
    }
    .about{
        padding: 100px 0 100px;
    }
    .about__desc{
        width: 225px;
        height: 80px;
        margin: auto;
    }
    .about__content{
        display: unset;
    }
    .about__content__img{
        height: 442px;
        width: 333px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 72px;
    }
    .about__content__img img{
        height: 442px;
    }
    .about__content__img .button__svg {
        right: 0;
        left:0;
        margin: 0 auto;
        width: 98px;
        height: 98px;
        top:170px;
    }
    .section__title{
        width: 324px;
        height: 114px;
        margin: auto;
    }
    .about__content__right__desc {
        width: 324px;
        height: 60px;
        margin: auto;
        margin-bottom: 50px;
    }
    .about__content__line{
        width: 330px;
        margin: auto;
        margin-bottom: 30px;
    }
    .about__content__line svg{
        margin: unset;
    }
    .brands{
        text-align: center;
    }
    .brands__line {
        display: unset;
    }
    .brands__line svg {
        width: 150px;
        display: block;
        margin: auto;
        margin-bottom: 60px;
    }
    .brands__line svg :last-child{
        margin-bottom: 100px;
    }


    .brands__bottom-line {
        background: #FAFAFA;
    }
    .brands__subscribe-box {
        display: none;
    }

    .brands__subscribe-box__title{
        margin: auto;
    }
    .brands__subscribe-box__title{
        margin-bottom: 30px;
    }

    input {
        width: 250px;
        padding: 15px 0 15px 20px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
    }
    .brands__btn{
        background: #FFA62B;
        border-radius: 0 5px 5px 0;
        color: #FFFFFF;
        margin-left: -6px;
        padding: 15px 22px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
    }
    .touch__box__img svg {
        margin-left: unset;
    }

    .touch {
        padding: 159px 0 131px;
    }
    .section__desc {
        height: 80px;
        margin: auto;
    }
    .touch__box{
        display: unset;
    }
    .touch__box__item {
        width: 328px;
        height: 333px;
        margin: auto;
    }
    .touch__box__item__blue__box{
        width: 328px;
        margin: auto;
    }
    .touch__box__item__blue__box{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .consulting__btn {
        margin-top: 50px;
    }
    .consulting__content{
        width: 239px;
        margin: auto;
    }
    .contact__content{
        margin-bottom: 30px;
    }
    .contact__content__line svg {
        margin-left: unset;
    }
    .contact__content__line img {
        margin-left: unset;
    }
    .footer__container {
        display: unset;
    }
    .footer__desc {
        width: 231px;
        margin: auto;
        margin-bottom: 50px;
    }
    .footer__contacts {
        margin-left: 90px;
    }
    .footer__contacts a:not(:last-child) {
        margin-right: unset;
    }
    .section__desc {
        margin-bottom: 50px;
    }
    .about__title {
        margin-bottom: 123px;
    }
    .brands__container{
        width: unset;
    }
    .brands__subscribe-boxmobile {
        display: block;
        background-color: #16697A;
        padding: 30px 0 30px;
    }

}
@media (max-width: 480px){
    .header__menu {
        position: absolute;
        top: 116px;
        text-align: center;
        margin: auto;
    }
    .contact__container{
        max-width: 276px;
        text-align: left;
        display: block;
    }
    .footer__contacts {
        width: 300px;
        margin: auto;
    }
    .footer__container{
        max-width: 276px;
    }
    .hero__content {
        width: unset;
    }
    .hero__desc {
        margin: auto;
    }
    input {
        width: 157px;
        padding: 10px 0 10px 18px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
    }
    .brands__btn {
        background: #FFA62B;
        border-radius: 0 5px 5px 0;
        color: #FFFFFF;
        margin-left: -6px;
        padding: 10px 18px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
    }
    .touch__box__img svg {
        margin-left: unset;
    }
    .consulting__container {
        max-width: 276px;
        text-align: left;
    }

}
@media  (max-width: 360px){
    .container{
        max-width: 280px ;
    }
    .section__title {
        width: 250px;
        height: 109px;
        font-size: 34px;
    }
    .section__desc{
        font-size: 13px;
    }
    .hero {
        text-align: center;
        padding:100px 0 100px
    }
    .hero__title{
        font-size: 35px;
        width: unset;
    }
    .hero__desc{
        width: 241px;
    }
    .box__item {
        width: 250px;
        padding: 30px 20px 30px 30px;
    }
    .box__item__title {
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0 8px;
    }
    .box__item__desc {
        font-size: 12px;
        line-height: 14px;
    }
    .about__content__img {
        height: 360px;
        width: 250px;
    }
    .about__content__img img {
        height: 360px;
    }
    .about__content__img .button__svg {
        width: 75px;
        height: 82px;
        top: 141px;
    }
    .about__content__right__desc {
        width: 250px;
    }
    .about__content__line {
        width: 250px;
    }
    .touch__box__item {
        width: 250px;
        height: 330px;
    }
    .touch__box__item__blue__box {
        background: #252B42;
        width: 250px;
        height: 330px;
        padding: 50px 0 50px;
    }
    .search{
        display: none;
    }
    .basket{
        display: none;
    }

}

