* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: #5a6482;
}

h1, h2, h3, h4, h5 {
  color: #252B42;
}

p {
  color: #737373;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  margin: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.section__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.header {
  padding-top: 36px;
  position: absolute;
  width: 100%;
}
.header__navbar {
  display: flex;
  align-items: center;
}
.header__menu {
  padding-left: 117px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-right: 21px;
}

.header__burger-menu {
  display: flex;
  align-items: center;
}

.header__burger-menu svg {
  margin-left: 20px;
}

.hero {
  background-image: url("../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 184px;
}
.hero__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}
.hero__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  width: 376px;
  margin: 35px 0 35px;
}
.hero__content {
  width: 509px;
}
.hero__btn:hover {
  background: #FFFFFF;
  border: 1px solid #FFA62B;
  color: #FFA62B;
}
.hero__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FFA62B;
  border-radius: 37px;
  padding: 10px 36px;
  margin-right: 10px;
  transition: 0.6s;
}
.hero__btn__transparent:hover {
  background: #00A0C1;
  color: #FFF;
  border-color: #00A0C1;
}
.hero__btn__transparent {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #00A0C1;
  background: transparent;
  border: 1px solid #00A0C1;
  border-radius: 37px;
  padding: 10px 36px;
  margin-right: 10px;
  transition: 0.6s;
}
.hero__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 80px;
  margin-bottom: -19px;
}

.box__item {
  background: #FFFFFF;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 40px 28px 35px 40px;
  transition: 0.7s;
}
.box__item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin: 13px 0 10px;
}
.box__item__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.box__item:hover {
  background: #00A0C1;
}
.box__item:hover .box__item__title {
  color: #FFFFFF;
}
.box__item:hover .box__item__desc {
  color: #FFFFFF;
}
.box__item:hover path {
  fill: #fff;
}

.features {
  text-align: center;
  padding: 212px 0 80px;
  background: #FAFAFA;
}
.features__number {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin: 10px 0 30px;
}
.features__content {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.features__desc {
  margin: 10px 0 50px;
}
.features__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
.features__box__item {
  background: #FFFFFF;
  width: 230px;
  padding: 30px 0 30px;
}
.features__img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.advice {
  padding: 125px 0;
  text-align: center;
  background: #FAFAFA;
}
.advice__desc {
  margin: 10px 0 35px;
}
.advice__box {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.advice__box__item {
  background: #FFFFFF;
  padding-top: 30px;
  height: 321px;
  text-align: left;
}
.advice__box__item img {
  width: 100%;
}
.advice__box__title {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-left: 29px;
}
.advice__box__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 15px 22px 30px 29px;
}

.about {
  padding: 100px 0 100px;
  text-align: center;
}
.about__title {
  width: 511px;
  margin: 0 auto;
}
.about__desc {
  margin: 15px 0 100px;
}
.about__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-column-gap: 121px;
}
.about__content__img {
  position: relative;
}
.about__content__img .button__svg {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 170px;
  cursor: pointer;
}
.about__content__right {
  text-align: left;
}
.about__content__right__desc {
  margin: 10px 0 51px;
}
.about__content__line {
  display: flex;
  margin-bottom: 33px;
}
.about__content__line__info {
  margin-left: 20px;
}
.about__content__line__title {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  font-size: 16px;
  margin-bottom: 5px;
}
.about__content__line__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.top-menu {
  display: none;
}

.brands {
  background: #FAFAFA;
  padding-top: 50px;
}
.brands__container {
  width: 1054px;
  position: relative;
}
.brands__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 137px;
}
.brands__subscribe-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 50px;
  background: #16697A;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  bottom: -200px;
}
.brands__subscribe-box__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  width: 260px;
}
.brands__subscribe-box form input {
  width: 333px;
  padding: 15px 0 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #E6E6E6;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: 0.2px;
}
.brands__subscribe-box form .brands__btn {
  background: #FFA62B;
  border-radius: 0 5px 5px 0;
  color: #FFFFFF;
  margin-left: -6px;
  padding: 15px 22px;
  border: 1px solid #E6E6E6;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: 0.2px;
}
.brands__bottom-line {
  background: #252B42;
  height: 77px;
}

.touch {
  background: #F3F3F3;
  text-align: center;
  padding: 80px 0 148px;
}
.touch__desc {
  margin: 10px 0 80px;
}
.touch__box {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.touch__box__item {
  background: #FFFFFF;
  height: 333px;
  padding: 50px 0 50px;
}
.touch__box__item__heading {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 15px;
}
.touch__box__item__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 15px 0 15px;
  color: #252B42;
}
.touch__box__item__blue__box {
  background: #252B42;
  height: 393px;
  padding: 80px 0 80px;
}
.touch__box__item__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFA62B;
  padding: 10px 15px;
  border: 1px solid #FFA62B;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.6s;
}
.touch__box__item__btn:hover {
  background-color: #FFA62B;
  color: #FFFFFF;
}

.blue__email {
  color: #FFFFFF;
}
.blue__heading {
  color: #FFFFFF;
}
.blue__btn {
  color: #FFFFFF;
  border-color: #FFFFFF;
  transition: 0.6s;
}
.blue__btn:hover {
  color: #252B42;
  border: 1px solid #252B42;
  background-color: #FFFFFF;
}

.consulting {
  padding: 40px 0 40px;
  background: #FAFAFA;
}
.consulting__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consulting__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.consulting__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.consulting__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  background: #FFA62B;
  border-radius: 5px;
  padding: 15px 40px;
  color: #FFFFFF;
  transition: 0.6s;
}
.consulting__btn:hover {
  font-size: 14px;
  background: transparent;
  color: #FFA62B;
  border: 1px solid #FFA62B;
}

.contact {
  padding: 50px 0 52px;
  background: #16697A;
}
.contact__menu__link {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.contact__content__line {
  display: flex;
  align-items: center;
}
.contact__content__line img {
  margin-right: 10px;
}
.contact__content__line svg {
  margin-right: 10px;
}
.contact__content__heading {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer {
  padding: 25px 0 25px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.footer__contacts {
  display: flex;
  align-items: center;
}
.footer__contacts a:not(:last-child) {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
