*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #5a6482;
}
h1,h2,h3,h4,h5{
  color: #252B42;
}
p{
  color: #737373;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
  display: inline-block;
}
img{
  max-width: 100%;
  margin: auto;
}
button{
  cursor: pointer;
}


// =================REUSABLE BLOCKS================= //

.container{
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}
.section__title{
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.section__desc{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}



// =================HEADER================= //

.header{
  padding-top: 36px;
  position: absolute;
  width: 100%;
  &__navbar{
    display: flex;
    align-items: center;
  }
  &__menu{
    padding-left: 117px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 21px;
  }
  &__buger-menu {

  }
}
// =================HERO================= //

.hero{
  background-image: url("../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 184px;
  &__title{
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
  }
  &__desc{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    width: 376px;
    margin: 35px 0 35px;
  }
  &__content{
    width: 509px;
  }
  &__btn:hover{
    background: #FFFFFF;
    border: 1px solid #FFA62B;
    color: #FFA62B;
  }
  &__btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #FFA62B;
    border-radius: 37px;
    padding: 10px 36px;
    margin-right: 10px;
    transition: .6s;
    &__transparent:hover{
      background: #00A0C1;
      color: #FFF;
      border-color: #00A0C1;
    }
    &__transparent{
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #00A0C1;
      background: transparent;
      border: 1px solid #00A0C1;
      border-radius: 37px;
      padding: 10px 36px;
      margin-right: 10px;
      transition: .6s;
    }
  }

  &__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 80px;
    margin-bottom: -19px;
  }
}
.box__item {
  background: #FFFFFF;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 40px 28px 35px 40px;
  transition: .7s;
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 13px 0 10px;
  }
  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  &:hover {
    background: #00A0C1;
  }
  &:hover &__title {
    color: #FFFFFF;
  }
  &:hover &__desc {
    color: #FFFFFF;
  }
  &:hover path {
      fill: #fff;
  }
}
.features{
  text-align: center;
  padding: 212px 0 80px;
  background: #FAFAFA;
  &__number{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 10px 0 30px;
  }
  &__content{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  &__desc{
    margin: 10px 0 50px;
  }
  &__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    &__item{
      background: #FFFFFF;
      width: 230px;
      padding: 30px 0 30px;
    }
  }
  &__img{
    width: 48px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
.advice{
  padding: 125px 0 ;
  text-align: center;
  background: #FAFAFA;
  &__desc{
    margin: 10px 0 35px;
  }
  &__box{
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__item{
      background: #FFFFFF;
      padding-top: 30px;
      height: 321px;
      text-align: left;
      img{
        width: 100%;
      }

    }
    &__title{
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 0.1px;
      margin-left: 29px;
    }
    &__desc{
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin: 15px 22px 30px 29px;
    }
  }
}
.about{
  padding: 100px 0 100px;
  text-align: center;
  &__title{
    width: 511px;
    margin: 0 auto;
  }
  &__desc{
    margin: 15px 0 100px;
  }
  &__content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-column-gap: 121px;
    &__img{
      position: relative;
      .button__svg{
        position: absolute;
        left: 250px;
        top: 170px;
        cursor: pointer;
      }
    }
    &__right{
      text-align: left;
      &__desc{
        margin: 10px 0 51px;
      }
    }
    &__line{
      display: flex;
      margin-bottom: 33px;
      &__info{
        margin-left: 20px;
      }
      &__title{
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__desc{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }
  }

}
.brands{
  background: #FAFAFA;
  padding-top: 50px;

  &__container{
    width: 1054px;
    position: relative;
  }
  &__line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;
  }
  &__subscribe-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 50px;
    background: #16697A;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    bottom: -200px;
    &__title{
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      width: 260px;
    }
    form{
      input{
        width: 333px;
        padding: 15px 0 15px 20px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
      }
      .brands__btn{
        background: #FFA62B;
        border-radius: 0 5px 5px 0;
        color: #FFFFFF;
        margin-left: -6px;
        padding: 15px 22px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.2px;
      }
    }
  }
  &__bottom-line{
    background: #252B42;
    height: 77px;
  }
}
.touch{
  background: #F3F3F3;
  text-align: center;
  padding: 80px 0 148px;
  &__desc{
    margin: 10px 0 80px;
  }
  &__box{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    &__item{
      background: #FFFFFF;
      height: 333px;
      padding: 50px 0 50px;
      &__heading{
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
        margin-bottom: 15px;
      }
      &__email{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin: 15px 0 15px;
        color: #252B42;
      }
      &__blue__box{
        background: #252B42;
        height: 393px;
        padding: 80px 0 80px;
      }
      &__btn{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #FFA62B;
        padding: 10px 15px;
        border: 1px solid #FFA62B;
        border-radius: 5px;
        background-color: transparent;
        transition: .6s;
      }
      &__btn:hover{
        background-color: #FFA62B;
        color: #FFFFFF;
      }
    }
  }
}
.blue{
  &__email{
    color: #FFFFFF;
  }
  &__heading{
    color: #FFFFFF;
  }
  &__btn{
    color: #FFFFFF;
    border-color: #FFFFFF;
    transition: .6s;
  }
  &__btn:hover{
    color: #252B42;
    border:1px solid #252B42;
    background-color: #FFFFFF;
  }
}
.consulting{
  padding: 40px 0 40px;
  background: #FAFAFA;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }
  &__desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

  }
  &__btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background: #FFA62B;
    border-radius: 5px;
    padding: 15px 40px;
    color: #FFFFFF;
    transition: .6s;
  }
  &__btn:hover{
    font-size: 14px;
    background: transparent;
    color: #FFA62B;
    border: 1px solid #FFA62B;
  }
}
.contact{
  padding: 50px 0 52px;
  background: #16697A;
  &__menu {
    &__link{
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
  }
  &__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &__content {
    &__line{
      display: flex;
      align-items: center;
      img{
        margin-right: 10px;
      }
      svg{
        margin-right: 10px;
      }
    }
    &__heading {
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
  }
}
.footer{
  padding: 25px 0 25px;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__desc{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  &__contacts{
    display: flex;
    align-items: center;
    a:not(:last-child){
      margin-right: 20px;
    }
  }
}





